In [2]:
import pandas as pd
import numpy as np

In [34]:
ret = pd.read_csv('daily_info.csv')
ret['date'] =  pd.to_datetime(ret['date'])
ret = ret.set_index('date')
ret.head()

                           stock  close
date
2010-01-04 00:00:00+00:00   1101  34.30
2010-01-05 00:00:00+00:00   1101  35.50
2010-01-06 00:00:00+00:00   1101  36.25
2010-01-07 00:00:00+00:00   1101  35.55
2010-01-08 00:00:00+00:00   1101  35.40

In [ ]:
sector = ret.groupby("date")

In [51]:
result = pd.DataFrame()
for name,group in sector:
    group = group.set_index('stock')
    group.rename(columns={'close': name}, inplace=True)
    result = result.append(group.transpose())

In [59]:
export_csv = result.to_csv (r'./export_daily_info.csv', header=True) #Don't forget to add '.csv' at the end of the pat